<span class="badge">@ViewBag.CommentCount</span>
@*@{
    Layout = "~/Views/Shared/_BlogLayout .cshtml";
}*@

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_CommentItem</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@
